<div class="fixed bottom-4 right-4 text-xs text-gray-400 opacity-50 pointer-events-none z-50">
  v<%= appVersion %>
</div>
<%- include('./bottonNavBar.ejs') %>
<script src="/flowbite/flowbite.min.js" nonce="<%= nonce %>"></script>
<script src="/js/theme.js" nonce="<%= nonce %>"></script>

</body>

</html>