<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title || "Default Title" %>
    </title>
    <link rel="stylesheet" href="/css/style.css?v=2">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="/apexcharts/apexcharts.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css">
    <script src="/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" nonce="ozfWMSeQ06g862KcEoWVKg=="></script>
</head>

<body class="dark:bg-gray-900 dark:border-gray-700 ">