services:
  student-tracker:
    image: codebyamrit/student-tracker:1.5.0
    env_file: .env
    environment:
      - NODE_ENV=production
    restart: always

    ports:
      - "5000:5000"

  student-portal:
    image: codebyamrit/student-portal:1.0.0
    ports:
      - "8080:80"
    environment:
      - VITE_API_URL=http://localhost:5000/api/student
    restart: always
