services:
  node:
    image: codebyamrit/student-tracker:1.4.0
    env_file: .env
    environment:
      - NODE_ENV=production
      - PORT=5000
    restart: always

    # Internal service only (Traefik will route)
    expose:
      - "5000"

    # Health check (safe to keep)
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

    # Traefik integration (AUTO networking)
    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.student.rule=Host(`edu.amritsharma.dev`)"
      - "traefik.http.routers.student.entrypoints=websecure"
      - "traefik.http.routers.student.tls=true"

      # Service
      - "traefik.http.services.student.loadbalancer.server.port=5000"

    # Replicas (Dokploy supports this)
    deploy:
      replicas: 2
