version: "3.9"

services:
  node:
    build: .
    container_name: school-node
    expose:
      - "4000"
    env_file: .env
    environment:
      - NODE_ENV=production
    restart: always

  nginx:
    image: nginx:alpine
    container_name: school-nginx
    depends_on:
      - node
    ports:
      - "80:80"
    volumes:
      - ./public:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
