services:
  node:
    image: codebyamrit/student-tracker:1.2.1
    container_name: school-node
    ports:
      - "8080:5000"
    env_file: .env
    environment:
      - NODE_ENV=production
    restart: always
