<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Sign Up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-white dark:bg-gray-900 font-sans">
    <div class="flex justify-center">
        <!-- Left Section -->
        <div
            class="hidden fixed top-0 left-0 lg:flex flex-col w-1/3 bg-gradient-to-b bg-blue-700 text-white p-6 h-screen dark:from-gray-800 dark:to-gray-700">
            <div class="flex justify-between items-center">
                <div class="text-lg font-bold">Student Tracker</div>
                <a href="index.html">
                    <img src="/image/house-chimney.png" alt="Home" class="w-5">
                </a>
            </div>
            <div class="flex flex-col justify-center items-center h-full">
                <img src="/image/teacher.svg" alt="Student" class="w-64 mb-6">
                <div class="text-xl font-bold mb-2">Prepare Your Students for Their Future</div>
                <div class="text-center">Manage, track, and report on student progress quickly and
                    easily. StudentTracker is completely FREE!</div>
            </div>
        </div>

        <!-- right -->
        <div class="w-full md:w-2/3 p-8 md:pl-16 md:ml-96 xl:ml-96">
            <nav class="fixed block lg:hidden top-0 left-0 right-0 bg-gradient-to-r from-blue-600 to-blue-400 py-3 ">

                <div class="container mx-auto px-4">
                    <a href="/" class="text-white text-2xl font-bold">Student Tracker</a>
                </div>
            </nav>

            <div class="mt-8">
                <button id="theme-toggle" type="button"
                    class="fixed top-2 right-10 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">Sign Up as Teacher</h1>
                <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">Already have an account? <a href="/login"
                        class="text-blue-500 dark:text-blue-400">Log in here</a></p>
                <div class="mt-6">
                    <form action="/signup" method="post" class="space-y-6" enctype="multipart/form-data">
                        <div class="flex gap-4">
                            <div class="w-1/2">
                                <label for="exampleInputName"
                                    class="block text-sm font-medium text-gray-700 dark:text-gray-300">First
                                    Name</label>
                                <input type="text" id="exampleInputName" name="firstName" autocomplete="name"
                                    class="uppercase mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                            </div>
                            <div class="w-1/2">
                                <label for="lastName"
                                    class="block text-sm font-medium text-gray-700 dark:text-gray-300">Last
                                    Name</label>
                                <input type="text" id="lastName" name="lastName" autocomplete="name"
                                    class="uppercase mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email
                                Id
                                *</label>
                            <input type="email" id="email" name="email" autocomplete="username"
                                class="mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                            <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">We'll never share your email with
                                anyone
                                else.</p>
                        </div>
                        <div>
                            <label for="password"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
                            <input type="password" id="password" name="password" autocomplete="current-password"
                                class="mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                        </div>
                        <div class="flex gap-4">
                            <div class="w-1/2">
                                <label for="school_name"
                                    class="block text-sm font-medium text-gray-700 dark:text-gray-300 ">
                                    School Name
                                </label>
                                <input type="text" id="school_name" name="school_name"
                                    class="uppercase mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                            </div>
                            <div class="w-1/2 max-h-20">
                                <div class="flex items-center justify-center w-full px-10 mt-5">
                                    <label for="dropzone-file"
                                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 text-center dark:text-gray-400"><span
                                                    class="font-semibold">Click to upload School LOGO</span><br>
                                                or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG
                                                (MAX. 800x400px)</p>
                                        </div>
                                        <input id="dropzone-file" type="file" name="school_logo" class="hidden" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <label for="school_address"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300 ">School
                                Address</label>
                            <input type="text" id="school_address" name="school_address"
                                class="uppercase mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                        </div>
                        <div class="w-1/2">
                            <label for="school_phone"
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300 ">School
                                Phone No</label>
                            <input type="text" id="school_phone" name="school_phone"
                                placeholder="xxx xxx xxxx, xxx xxx xxxx"
                                class="uppercase mt-1 block w-full p-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 rounded-md">
                        </div>
                        <div class="flex justify-start">
                            <button type="submit"
                                class="bg-blue-500 dark:bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-600 dark:hover:bg-blue-700">Create
                                Account</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>        

    </div>



    <script src="/flowbite/flowbite.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/uploadSchoolLogo.js"></script>
</body>

</html>